<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(242, 243, 245, 0.7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
  <!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
<style>
.background-radial-gradient {
  background-color: hsl(63, 36%, 23%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(59, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#f8f536, #575614);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#f8f536, #575614);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
</style>

<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
<div class="row gx-lg-5 align-items-center mb-5">
  <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
      The best offer <br />
      <span style="color: hsl(218, 81%, 75%)">for your Success</span>
    </h1>
    <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
      Nach Anmeldung kannst du kostenfrei auf alle Inhalte zugreifen.
    </p>
  </div>

  <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

    <div class="card bg-glass">
      <div class="card-body px-4 py-5 px-md-5">
        <form>
          
          <div class="text-center">
            <p> Sign up with:</p>
           
            <button (click)="signIn()" class="btn btn-primary text-dark py-2 px-4 ms-3">G-mail</button>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</section>
 