<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(242, 243, 245, 0.7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->

        


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pb-2 pt-7 bg-600">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="mb-6">Feedback</h1>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->




        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
        <section class="pt-10" id="">

          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-6 h-100">
                <h1 class="my-4">Kimmie Vo<br /><span class="text-dark">Web-Developer</span></h1>
                <p class=" fs-2">Der Aufbau des Kurses ist sehr gründlich und detailliert. Die Erklärungen sind genau und einfach nachzuvollziehen und durch das umfangreiche Praxisbeispiel kann man sofort das Gelernte umsetzen.  </p>
                <div class="mt-6">
                  <h5 class="font-sans-serif fw-bold mb-3">The courses that Kimmie has taken</h5>
                  <div class="card card-span bg-600">
                    <div class="card-body rounded" style="background-color:antiquewhite;" >
                      <div class="row flex-center gx-0" style="background-color: antiquewhite;">
                        <!-- <div class="col-lg-4 col-xl-3 text-center text-xl-start"><img src="../../assets/img/gallery/art-design.png" width="120" alt="courses" /></div> -->
                        <div class="col-lg-8 col-xl-9 " style="background-color:antiquewhite;">
                          <h5 class="font-sans-serif fw-bold ">Html , CCS  , bootstrap , JavaScript and Sass kurse  </h5>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6"><img class="img-fluid" src="../../assets/img/feed2.png" alt="" /></div>
            </div>
          </div><!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
  
  
  
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-5" id="">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-6"><img class="img-fluid" src="../../assets/img/feedback2.png" alt="" /></div>

              <div class="col-md-12 col-lg-6 h-100">
                <h1 class="my-4">Alice d'or <br /><span class="text-dark">Backend developer</span></h1>
                <p class="fs-2">"Informatik? Html? Ich? Niemals!", zumindest dachte ich das vor allem während meiner Schulzeit und habe bis vor 2 Monate keinen Gedanken daran vergeudet, vielleicht doch in der IT Fuß zu fassen.
                   Jetz sieht die Sache allerdings ganz anders aus. Keine Frage eine Weiterbildung ist unbedingt notwendig. 
                   Dieser Kurs hat mir allerdings einen guten Einstieg geboten und in mir wirklich die Begeisterung für die Materie geweckt: JS, SASS,Python, Angular...ich bin dabei ;-).</p>
                <div class="mt-6">
                    <h5 class="font-sans-serif fw-bold mb-3">The courses that Alice has taken</h5>
                    <div class="card-body rounded" style="background-color:antiquewhite;" >
                      <div class="row flex-center gx-0" style="background-color: antiquewhite;">          
                        <div class="col-lg-8 col-xl-9 " style="background-color:antiquewhite;">
                          <h5 class="font-sans-serif fw-bold "> Php  , Node.js   and   Ruby   kurse  </h5>

                        </div>
                      </div>
                    </div>
                </div>
            </div>
            </div>
          </div><!-- end of .container-->
  
        </section>