
<section>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-4 mb-5"><img src="../../assets/img/gallery/cta.png" width="280" alt="cta" />
            </div>
            <div class="col-md-6 col-lg-5">
                <h5 class="text-dark font-sans-serif fw-bold">Jetzt Anmelden</h5>
                <h1 class="mb-5">Erhalten Sie jedes einzelne
                    Update </h1>
                <form class="row g-0 align-items-center">
                    <div class="col">
                        <div class="input-group-icon">
                            <input class="form-control form-little-squirrel-control" type="email"
                                placeholder="Geben Sie Ihre Email ein" aria-label="email" /><i
                                class="fas fa-envelope input-box-icon"></i>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary  text-dark rounded-0" type="submit">Anmelden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<section class="bg-secondary">

    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0"><a class="text-decoration-none" href="#"><img src="../../assets/img/gallery/footer-logo.png" height="51" alt="" /></a>
          <p class="text-light my-4"> <i class="fas fa-map-marker-alt me-3"></i><span class="text-light">35390 Giessen, Marketplaz 4  &nbsp;</span><a class="text-light" href="tel:+4915906300098">+4915906300098</a><br />Deutschland</p>
          <p class="text-light"> <i class="fas fa-envelope me-3"> </i><a class="text-light" href="mailto:vctung@outlook.com">vctung@outlook.com </a></p>
          <p class="text-light"> <i class="fas fa-phone-alt me-3"></i><a class="text-light" href="tel:+4915906300098">4915906300098 (Support)</a></p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
          <h5 class="lh-lg fw-bold mb-4 text-light font-sans-serif">Community </h5>
          <ul class="list-unstyled mb-md-4 mb-lg-0">
            <li class="lh-lg"><a class="text-200" routerLink="/feedback">Feedback</a></li>
            <ul class="list-unstyled mb-md-4 mb-lg-0">
              <li class="lh-lg"><a class="text-200" routerLink="/ueberuns">Über uns</a></li>
              <li class="lh-lg"><a class="text-200" routerLink="/contact">Contact</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <section class="py-0" style="margin-top: -5.8rem;">
    <div class="container bg-primary">
      <div class="row justify-content-md-between justify-content-evenly py-4">
        <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
          <p class="fs--1 my-2 fw-bold">All rights Reserved &copy; Your Company, 2021</p>
        </div>
        <div class="col-12 col-sm-8 col-md-6">
          <p class="fs--1 my-2 text-center text-md-end"> 
            <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#EB6453" viewBox="0 0 16 16">
              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
            </svg>&nbsp;&nbsp;<a class="fw-bold text-900" routerLink="/datenschutzUndimpressum" target="_blank">Datenschutz und Impressum </a>
          </p>
        </div>
      </div>
    </div>
  </section>
