<section class="pb-11 pt-7 bg-600">

  <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="font-sans-serif text-dark fw-bold">web-development</h5>
          <h1 class="mb-6">Front-end Development</h1>
        </div>
      </div>
    </div> 
    <!-- end of .container-->

  </section>

<section class="pb-0" style="margin-top:-17rem">

        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/img.png" alt="courses" />
                <div class="card-body">
                  <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1 "><u>HTML-Kurs</u></h5><a class="text-dark fs--1 stretched-link text-decoration-none " href="https://www.youtube.com/watch?v=kUMe1FH4CHE">HyperText Markup Language : the basic scripting language used by web browsers to render pages on the world wide web.</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/img2.png" alt="courses" />
                <div class="card-body">
                  <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1"><u>CSS-kurs</u></h5><a class="text-dark fs--1 stretched-link text-decoration-none" href="https://www.w3schools.com/css/">Cascading Style Sheets : is a style sheet language used for describing the presentation of a document written in a markup language such as HTML</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/img3.png" alt="courses" />
                <div class="card-body">
                  <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1"><u>JavaScripts</u></h5><a class="text-dark fs--1 stretched-link text-decoration-none" href="https://www.youtube.com/playlist?list=PLqkLaKB2GJhWXV9rcarwvn06ISlL_9mPQ">JavaScript: is the programming language of the Web. </a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/img4.png" alt="courses" />
                <div class="card-body">
                  <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1"><u>Sass</u></h5><a class="text-dark fs--1 stretched-link text-decoration-none" href="https://www.youtube.com/watch?v=jfMHA8SqUL4">Syntactically Awesome Style Sheets </a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/img5.png" alt="courses" />
                <div class="card-body">
                  <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1"><u>Bootstrap 5</u></h5><a class="text-dark fs--1 stretched-link text-decoration-none" href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR">Bootstrap</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/img6.png" alt="courses" />
                <div class="card-body">
                  <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1"><u>Angular Tutorial</u></h5><a class="text-dark fs--1 stretched-link text-decoration-none" href="https://www.youtube.com/playlist?list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ">Angular:is a platform for building mobile and desktop web applications. </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
