<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(242, 243, 245, 0.7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
   <section class="pb-sm-2 pt-7 bg-600">

      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h6 class="font-sans-serif text-primary fw-bold"></h6>
                  <h1 class="mb-6">Kontakt</h1>
                  
              </div>
          </div>
      </div>
  </section> 
 
  
  <section class="pt-2">
      <!-- Contact Start -->
      <div class="container-fluid py-5">
          <div class="container">
              <div class="row g-5">
                  <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
                      <div class="bg-light rounded h-100 p-5">
                          <div class="section-title">
                              <h5 class="position-relative d-inline-block text-uppercase" style ="color: #B00C28;">kontaktieren Sie uns
                              </h5>
                              <h1 class="display-6 mb-4">Fühlen Sie sich frei uns zu kontaktieren</h1>
                          </div>
                          <div class="d-flex align-items-center mb-2">
                              <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                              <div class="text-start">
                                  <h5 class="mb-0">Unsere Adresse</h5>
                                  <span>35390 Giessen, Marketplaz 4</span>
                              </div>
                          </div>
                          <div class="d-flex align-items-center mb-2">
                              <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                              <div class="text-start">
                                  <h5 class="mb-0">Email</h5>
                                  <span>zvctung@outlook.com</span>
                              </div>
                          </div>
                          <div class="d-flex align-items-center">
                              <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                              <div class="text-start">
                                  <h5 class="mb-0">Rufen Sie uns</h5>
                                  <span>+4915906300098</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s">

                      <form class="row g-3 needs-validation" novalidate>
                          <div class="col-12">
                            <label for="validationCustom01" class="form-label"></label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder=" Ihr Name *" required>
                            <div class="invalid-feedback">
                              bitte geben sie ihr name ein !
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="validationCustom02" class="form-label"></label>
                            <input type="email" class="form-control" id="validationCustom02" placeholder=" E-mail *" required>
                            <div class="invalid-feedback">
                              bitte geben sie ihr E-mail ein !
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="validationCustom05" class="form-label"></label>
                            <input type="text" class="form-control" id="validationCustom05"  placeholder="Betreff *"required>
                            <div class="invalid-feedback">
                              bitte geben sie ihr betreff ein !
                            </div>
                          </div>
                          <div class="col-12">
                              <label for="validationCustom05" class="form-label"></label>
                              <textarea class="form-control  px-4 py-3" rows="5" id="validationCustom05"  placeholder="Nachricht *" required></textarea>
                              <div class="invalid-feedback">
                                  bitte schreiben  sie Ihre nachricht !
                              </div>
                            </div>
                          <div class="col-12 "> 
                              <p ><b>Hinweis</b> : Felder mit * müssen ausgefüllt werden.</p>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                              <label class="form-check-label" for="invalidCheck">
                                  ich stimme der datenschutzerklärung zu *
                              </label>
                              <div class="invalid-feedback">
                                  Sie müssen vor dem Absenden zustimmen.
                              </div>
                            </div>
                          </div>

                          <div class="col-12">
                            <button class="btn btn-primary text-dark" type="submit">Senden</button>
                          </div>
                        </form>
                  </div>
                  <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                      <iframe class="position-relative rounded w-100 h-100"
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.1755102509483!2d8.672204716074921!3d50.586691079494514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bc58c223422217%3A0x58dd003a6129fe8e!2sMarktpl.%204%2C%2035390%20Gie%C3%9Fen!5e0!3m2!1sfr!2sde!4v1655460753440!5m2!1sfr!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                          frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
                          tabindex="0"></iframe>
                  </div>
              </div>
          </div>
      </div>
      <!-- Contact End -->
  </section>
