<section class="pt-6 bg-600" id="home">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 col-lg-6 order-0 order-md-1 text-end"><img class=" rounded shadow pt-7 pt-md-0 w-500" src="../../assets/img/vvv.jpg" width="470" alt="hero-header" /></div>
        <div class="col-md-7 col-lg-6 text-md-start text-center py-6">
          <h4 class="fw-bold font-sans-serif">Become Master</h4>
          <br>
          <h1  style="color:black;" class="fs-6 fs-xl-7 mb-5  "> Wir machen dich erfolgreich </h1>
          
          <h4 class="fw-bold font-sans-serif">Lerne Programmieren und werde Junior Web-Developer/in !  JETZT  AUCH ONLINE ! </h4>
          <a class="btn btn-outline-secondary" routerLink="/ueberuns" role="button">Über uns</a>
          
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0" style="margin-top:-5.8rem">

    <div class="container">
      <div class="row">
        <div class="card card-span bg-secondary">
          <div class="card-body">
            <div class="row flex-center gx-0">
              <div class="col-lg-4 col-xl-2 text-center text-xl-start"><img src="../../assets/img/gallery/funfacts.png" width="170" alt="..." /></div>
              <div class="col-lg-8 col-xl-4">
                <h1 class="text-light fs-lg-4 fs-xl-5">Neue Ankündigungen :  <span class="text-primary">Python Grundkurs </span></h1>
              </div>
              <div class="col-lg-12 col-xl-6">
                <h1 class="display-1 text-light text-center text-xl-end">11 : 02 : 45 : 21</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->




  <!-- ============================================-->
  <!-- <section> begin ============================-->
  

    <div class="container">
      <div class="row">
        <h1 style="color:darkgoldenrod;" class="text-center mb-5"> Top Featured Courses</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a routerLink="/frontend"><img src="../../assets/img/frontend.png" class="d-block w-100 rounded-pill" ></a>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-body"></h5>
          </div>
        </div>
        <div class="carousel-item">
          <a routerLink="/backend"><img src="../../assets/img/backend.png" class="d-block w-100 rounded-pill" ></a>
          <div class="carousel-caption d-none d-md-block">
            <h3  class = "text-body"></h3>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- end of .container-->

  
  <!-- <section> close ============================-->
  <!-- ============================================-->
  <!-- ============================================-->
  
  <section>
    <div class="bg-holder" style="background-image:url(../../assets/img/gallery/funfacts-2-bg.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3 text-center mb-5"><img src="../../assets/img/gallery/published.png" height="100" alt="..." />
          <h1 class="my-2">9</h1>
          <p class="text-info  text-dark fw-bold">COURSES PUBLISHED</p>
        </div>
        <div class="col-sm-6 col-lg-3 text-center mb-5"><img src="../../assets/img/gallery/instructors.png" height="100" alt="..." />
          <h1 class="my-2">9</h1>
          <p class="text-info  text-dark fw-bold">EXPERT INSTRUCTORS</p>
        </div>
        <div class="col-sm-6 col-lg-3 text-center mb-5"><img src="../../assets/img/gallery/learners.png" height="100" alt="..." />
          <h1 class="my-2">8300</h1>
          <p class="text-info text-dark fw-bold">HAPPY LEARNERS</p>
        </div>
        <div class="col-sm-6 col-lg-3 text-center mb-5"><img src="../../assets/img/gallery/awards.png" height="100" alt="..." />
          <h1 class="my-2">32</h1>
          <p class="text-info  text-dark fw-bold">AWARDS ACHIEVED</p>
        </div>
      </div>
    </div>
  </section>