<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(242, 243, 245, 0.7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
    
    <section class="pt-5" id="">

      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="font-sans-serif fw-bold" style="color:#B00C28;">Unsere Mission</h1>
          <h3 style="color:#144AAD;">  nur eins, was auf Dauer teurer ist als Bildung. Keine Bildung.“- John F. Kennedy</h3><br /> <p class="fs-2"> Genau so sehen wir das auch. Deswegen haben wir mit For Education ein digitales Bildungsangebot entwickelt, das Studenten/innen kostenlos dabei unterstützt, ihre Lerninhalte leichter zu verstehen.</p>
          </div>
          <div class="col-lg-6"><img class="img-fluid" src="../../assets/img/about2.png" alt="" /></div>
        </div>
      </div><!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-5" id="">

      <div class="container">
        <div class="row">
          <div class="col-lg-6"><img class="img-fluid" src="../../assets/img/about1.png" alt="" /></div>
          <div class="col-lg-6 ">
            <h1  class="font-sans-serif  fw-bold " style="color:#B00C28;" >Was uns von anderen unterscheidet?</h1>
            <p class="fs-2">
              Ihre Kreativität und Ihr Talent stehen bei der OfG im Mittelpunkt – wir holen Sie dort ab, wo Sie stehen.

                  Während der gesamten Kursdauer werden Sie von unseren Dozierenden im Designprozess individuell begleitet. Diese analysieren Ihre Arbeiten, fördern Ihre Stärken und geben Ihnen konkrete Verbesserungsvorschläge mit hilfreichen Tipps und Tricks.
                 
                  Sie absolvieren unsere Kurse zu Ihren Zeiten und in Ihrem Tempo. Es gibt keine Vor-Ort-Prüfungen oder Präsenzphasen. Sie können die Onlinekurse bequem neben dem Beruf oder Studium absolvieren. Kostenfreie Pausen sind jederzeit möglich.
            </p>
          </div>
        </div>
      </div><!-- end of .container-->

    </section>
