<section class="pb-11 pt-7 bg-600">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="font-sans-serif text-dark fw-bold">web-Development</h5>
        <h1 class="mb-6">Back-end Development</h1>
       
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<section class="pb-0" style="margin-top:-17rem">

    <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/pic1.png" alt="courses" />
              <div class="card-body">
                <h2 class="font-sans-serif fw-bold fs-md-0 fs-lg-1 "><u>PHP-Kurs</u></h2><a class="text-dark fs--1 stretched-link text-decoration-none " href="https://www.youtube.com/watch?v=Rir6c7ASZzQ"> Preprocessor : A popular general-purpose scripting language that is especially suited to web development.
                  Fast, flexible and pragmatic, PHP powers everything from your blog to the most popular websites in the world.</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/pic2.png" alt="courses" />
              <div class="card-body">
                <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1"><u>Ruby-Tutorial</u></h5><a class="text-dark fs--1 stretched-link text-decoration-none" href="https://www.youtube.com/watch?v=t_ispmWmdjY">Ruby is a pure object-oriented programming language</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-100"><img class="card-img-top w-100" src="../../assets/img/pic3.png" alt="courses" />
              <div class="card-body">
                <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1"><u>Node.js</u></h5><a class="text-dark fs--1 stretched-link text-decoration-none" href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU">Node.js : is an open-source, cross-platform, back-end JavaScript runtime environment that runs on the V8 engine and executes JavaScript code outside a web browser. </a>
              </div>
            </div>
          </div>
     
    </div>
  </div>
  <!-- end of .container-->

</section>
