<section class="bg-600">

    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="font-sans-serif fw-bold" style="color:#B00C28 ;"> Unsere günstigen Jahrespreise </h5>
                <h1 class="mb-6">Get in Reasonable Price</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-5 mb-md-0 h-100">
                    <div class="text-center mb-5"><span
                            class="badge bg-black fw-normal text-uppercase bg-secondary">Starter</span></div>
                    <div class="card-body px-4 py-6 py-md-5 py-lg-6">
                        <div class="d-flex justify-content-start text-secondary"><span
                                class="h4 mb-0 mt-2 me-2">$</span><span
                                class="display-3 fw-medium">200.</span><span
                                class="display-4 fw-medium">00</span></div>
                        <p class="text-dark mb-2 my-md-3">A private limited is the most popular</p>
                        <hr class="border border-1" />
                        <ul class="list-unstyled">
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Zugang zu 25 Kursen
                            </li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Kurs-Diskussionen</li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Offline Viewing</li>
                            <li class="mb-3"><i class="fas fa-check text-muted me-2"></i>Zertifikat nach
                                completion</li>
                            <li class="mb-3"><i class="fas fa-check text-muted me-2"></i>Private Sitzungen</li>
                        </ul>
                        <div class="d-grid"> <a class="btn btn-lg btn-primary text-dark" href="#!">Jetzt kaufen</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-5 mb-md-0 h-100">
                    <div class="text-center mb-5"><span
                        class="badge bg-black fw-normal text-uppercase bg-secondary">premium</span></div>
                    <div class="card-body px-4 py-6 py-md-5 py-lg-6">
                        <div class="d-flex justify-content-start text-secondary"><span
                                class="h4 mb-0 mt-2 me-2">$</span><span
                                class="display-3 fw-medium">320.</span><span
                                class="display-4 fw-medium">00</span></div>
                        <p class="text-dark mb-2 my-md-3">A private limited is the most popular</p>
                        <hr class="border border-1" />
                        <ul class="list-unstyled">
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Zugang zu 25 Kursen
                            </li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Kurs-Diskussionen</li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Zertifikat nach
                                completion</li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Offline-Ansicht</li>
                            <li class="mb-3"><i class="fas fa-check text-muted me-2"></i>Private Sitzungen</li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-lg btn-secondary" href="#!">Jetzt kaufen</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-5 mb-md-0 h-100">
                    <div class="text-center mb-5"><span
                        class="badge bg-black fw-normal text-uppercase bg-secondary">enterprise</span></div>
                    <div class="card-body px-4 py-6 py-md-5 py-lg-6">
                        <div class="d-flex justify-content-start text-secondary"><span
                                class="h4 mb-0 mt-2 me-2">$</span><span
                                class="display-3 fw-medium">550.</span><span
                                class="display-4 fw-medium">00</span></div>
                        <p class="text-dark mb-2 my-md-3">A private limited is the most popular</p>
                        <hr class="border border-1" />
                        <ul class="list-unstyled">
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Zugang zu 25 Kursen
                            </li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Kurs-Diskussionen</li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Zertifikat nach
                                completion</li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i>Offline-Ansicht</li>
                            <li class="mb-3"><i class="fas fa-check text-info me-2"></i> Private Sitzungen</li>
                        </ul>
                        <div class="d-grid"> <a class="btn btn-lg btn-primary text-dark" href="#!">Jetzt kaufen</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>